<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>兑兑碰——虚拟盈利兑换实物</title>
<link rel="stylesheet" href="/dist/index.css">
</head>
<body>
	<section id="J-activity" class="m-activity j-activity"></section>
	<script src="/lib/zepto.min.js"></script>
	<script src="/lib/flipsnap.min.js"></script>
  <script src="/dist/index.js" charset="utf-8"></script>
</body>
</html>
